<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".CaptureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaptureDebugExportActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
